
Week1/01-Excel/Instructions/StarterBook.xlsx
.DS_Store
Week1/.DS_Store
Week1/01-Excel/.DS_Store
Week1/01-Excel/Instructions/.DS_Store
Week1/01-Excel/Instructions/Images/backers01.png
Week1/01-Excel/Instructions/Images/CategoryStats.PNG
Week1/01-Excel/Instructions/Images/DateConversion.PNG
Week1/01-Excel/Instructions/Images/FullTable.PNG
Week1/01-Excel/Instructions/Images/GoalOutcomes.PNG
Week1/01-Excel/Instructions/Images/PercentageFundedFormat.PNG
Week1/01-Excel/Instructions/Images/SubcategoryStats.PNG
Week1/01-Excel/Instructions/README.md
Week1/01-Excel/Instructions/Images/LaunchDateOutcomes.PNG
